<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.authentication_with_sqlite">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthenticationwithSqlite"
        tools:targetApi="31">
        <activity
            android:label="User List"
            android:name=".UsersList"
            android:exported="false" />
        <activity
            android:label="Register Yourself"
            android:name=".Register"
            android:exported="false" />
        <activity
            android:label="Login to your account"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!-- https://github.com/Android-Tutorials-Hub/login-register-sqlite-tutorial-Kotlin -->
